// plugin:prettier/recommended already auto inserted prettier plugins

// eslint-config-prettier is smart enough to follow .prettierrc setting to do the linting
// if don't have .prettierrc file in project then have to manually set the linting rules as your liking.
// "rules": {
// "prettier/prettier": ["error", { "singleQuote": true }],
// }

{
  "extends": ["plugin:prettier/recommended", "prettier/react"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // [START] eslint-plugin-react ---------------
    "react/boolean-prop-naming": "warn",
    "react/button-has-type": "warn",
    "react/prop-types": "off",
    "react/self-closing-comp": "error",
    "react/no-unused-state": "warn",
    "react/no-unsafe": ["error", { "checkAliases": true }],
    "react/no-deprecated": "error",
    "react/prefer-es6-class": ["error", "always"],
    "react/sort-comp": "warn",
    "react/jsx-no-target-blank": [
      "warn",
      { "allowReferrer": false, "enforceDynamicLinks": "always" }
    ]
    // [END] eslint-plugin-react ---------------
  }
}
